# Keep the release tarball lean (git archive, in .github/workflows/release.yml): ship
# the install + plugin payload (install.sh, bin/, hooks/, commands/, glow-brief.json,
# .claude-plugin/, iterm2/, LICENSE) and drop the dev/CI/docs below. The release
# workflow adds a short README.txt pointing back to the canonical project on GitHub.
.github/        export-ignore
docs/           export-ignore
traffic/        export-ignore
DEVELOPING.md   export-ignore
README.md       export-ignore
CHANGELOG.md    export-ignore
test.sh         export-ignore
.shellcheckrc   export-ignore
.gitattributes  export-ignore
